<p *ngIf="condition; else elseBlock">True</p>
<ng-template #elseBlock>
    <p>
        False
    </p>
</ng-template>

<hr>

<p *ngIf="conditionClick">
    True
</p>

<p *ngIf="!conditionClick">
    False
</p>

<button (click)="exibir()">Clicar</button>

<ul>
    <li *ngFor="let item of list let i = index" (click)="onClickEventList(i)">
        [{{i}}] -  {{item.nome}} | Idade = {{item.idade}}
    </li>
</ul>

<button (click)="onClickAddList()">Adicionar</button>

<hr>

<input type="text" [(ngModel)]="fruta">
<div [ngSwitch]="fruta">
    <p *ngSwitchCase="'Maçã'">
        Maçã
    </p>
    <p *ngSwitchCase="'Morango'">
        Morango
    </p>
    <p *ngSwitchCase="'Manga'">
        Manga
    </p>
    <p *ngSwitchDefault>
        Aguardando o valor a ser digitado.
    </p>
</div>
