.container {
    display: flex;
    width: 820px;
    align-items: center;
}

.active {
    background-color: tomato;
    width: 200px;
}

.disabled {
    background-color: royalblue;
    width: 200px;
}
